# AI and ML INTERNSHIP

### Day : 17

### Date:12th June 2019.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
import os
os.getcwd()

'C:\\Users\\Tejaswini\\Internship'

In [5]:
claimants1 = pd.read_csv('DataFiles/claimants.csv')

In [8]:
claimants1.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [7]:
claimants1.shape

(1340, 7)

In [9]:
claimants3 = claimants1.drop(['CASENUM'],axis =1 ,inplace = False)
claimants3.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [10]:
claimants2 = claimants1.drop(claimants1.index[[2]] , axis =0 ,inplace = False)
claimants2.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038
5       97         0     1.0       1.0       0.0    35.0   0.309

In [11]:
claimants1.describe()

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS
count,1340.000000,1340.000000,1328.000000,1299.000000,1292.000000,1151.000000,1340.000000
mean,11202.001493,0.488806,0.558735,0.907621,0.017028,28.414422,3.806307
std,9512.750796,0.500061,0.496725,0.289671,0.129425,20.304451,10.636903
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4177.000000,0.000000,0.000000,1.000000,0.000000,9.000000,0.400000
50%,8756.500000,0.000000,1.000000,1.000000,0.000000,30.000000,1.069500
75%,15702.500000,1.000000,1.000000,1.000000,0.000000,43.000000,3.781500
max,34153.000000,1.000000,1.000000,1.000000,1.000000,95.000000,173.604000

In [12]:
claimants1.isnull().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [13]:
claimants1.CLMSEX.value_counts()
claimants1.CLMSEX.mode()

0    1.0
dtype: float64

In [14]:
claimants1.CLMSEX.value_counts()
claimants1.CLMSEX.value_counts().index[0]
claimants1.CLMSEX.mode()

0    1.0
dtype: float64

In [15]:
claimants1.iloc[:,:] = claimants1.iloc[:,:].apply(lambda x:x.fillna(x.value_counts().index[0]))
claimants1.isnull().sum()

CASENUM     0
ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [16]:
import statsmodels.formula.api as smf
logit_model = smf.logit('ATTORNEY ~ CLMAGE + LOSS + CLMINSUR + SEATBELT',data = claimants1).fit()

Optimization terminated successfully.
         Current function value: 0.612744
         Iterations 7

In [17]:
type(logit_model)
logit_model.params

Intercept    0.071473
CLMAGE       0.003546
LOSS        -0.317733
CLMINSUR     0.577034
SEATBELT    -0.717471
dtype: float64

In [18]:
logit_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               ATTORNEY   No. Observations:                 1340
Model:                          Logit   Df Residuals:                     1335
Method:                           MLE   Df Model:                            4
Date:                Fri, 14 Jun 2019   Pseudo R-squ.:                  0.1157
Time:                        14:05:54   Log-Likelihood:                -821.08
converged:                       True   LL-Null:                       -928.48
                                        LLR p-value:                 2.455e-45
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0715      0.215      0.332      0.740      -0.350       0.493
CLMAGE         0.0035      0.003      1.179      0.238      -0.002       0.009
LOSS          -0.3177      0.029    -10.844      0.000      -0.375      -0.260
CLMINSUR       0.5770      0.209      2.759      0.006       0.167       0.987
SEATBELT      -0.7175      0.523     -1.372      0.170      -1.742       0.308
==============================================================================
"""

In [19]:
y_pred1 = logit_model.predict(claimants1)
y_pred1

0       0.000034
1       0.463116
2       0.636773
3       0.507299
4       0.677609
5       0.662494
6       0.390855
7       0.313934
8       0.641885
9       0.639399
10      0.233784
11      0.004334
12      0.534986
13      0.640262
14      0.675740
15      0.521623
16      0.698102
17      0.648698
18      0.659068
19      0.325797
20      0.448862
21      0.678194
22      0.007184
23      0.636772
24      0.087061
25      0.600869
26      0.693629
27      0.627107
28      0.659632
29      0.621263
          ...
1310    0.623115
1311    0.299075
1312    0.019435
1313    0.589051
1314    0.654602
1315    0.580732
1316    0.514178
1317    0.389395
1318    0.659647
1319    0.628697
1320    0.625366
1321    0.399372
1322    0.651726
1323    0.258381
1324    0.197557
1325    0.419098
1326    0.611763
1327    0.676177
1328    0.639006
1329    0.644633
1330    0.197742
1331    0.588386
1332    0.663832
1333    0.694714
1334    0.665116
1335    0.622683
1336    0.409608
1337    0.680340
1338    0.287082
1339    0.630947
Length: 1340, dtype: float64

In [20]:
claimants1['pred_prob'] = y_pred1
claimants1.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS  pred_prob
0        5         0     0.0       1.0       0.0    50.0  34.940   0.000034
1        3         1     1.0       0.0       0.0    18.0   0.891   0.463116
2       66         1     0.0       1.0       0.0     5.0   0.330   0.636773
3       70         0     0.0       1.0       1.0    31.0   0.037   0.507299
4       96         1     0.0       1.0       0.0    30.0   0.038   0.677609

In [21]:
claimants1['PValue'] = 0
claimants1.head()

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,pred_prob,PValue
0,5,0,0.0,1.0,0.0,50.0,34.940,0.000034,0
1,3,1,1.0,0.0,0.0,18.0,0.891,0.463116,0
2,66,1,0.0,1.0,0.0,5.0,0.330,0.636773,0
3,70,0,0.0,1.0,1.0,31.0,0.037,0.507299,0
4,96,1,0.0,1.0,0.0,30.0,0.038,0.677609,0

In [22]:
claimants1.loc[claimants1.pred_prob >= 0.5 ,"PValue"] = True
claimants1.head()

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,pred_prob,PValue
0,5,0,0.0,1.0,0.0,50.0,34.940,0.000034,0
1,3,1,1.0,0.0,0.0,18.0,0.891,0.463116,0
2,66,1,0.0,1.0,0.0,5.0,0.330,0.636773,True
3,70,0,0.0,1.0,1.0,31.0,0.037,0.507299,True
4,96,1,0.0,1.0,0.0,30.0,0.038,0.677609,True

In [23]:
confusion_matrix = pd.crosstab(claimants1['ATTORNEY'],claimants1.PValue)
confusion_matrix

PValue      0  True
ATTORNEY
0         419   266
1         139   516

In [24]:
acc = (419 + 516)/(419+516+266+139)
acc
np.mean(claimants1.ATTORNEY == claimants1.PValue)

0.6977611940298507

In [25]:
claimants1 = pd.read_csv('DataFiles/claimants.csv')

In [26]:
claimants = claimants1.drop(["CASENUM"],axis=1,inplace=False)
claimants.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [27]:
claimants.iloc[:,:] = claimants.iloc[:,:].apply(lambda x:x.fillna(x.value_counts().index[1]))
claimants.isnull().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [28]:
x = claimants.iloc[:,1:]
x.astype(int)
x.head()

   CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0     0.0       1.0       0.0    50.0  34.940
1     1.0       0.0       0.0    18.0   0.891
2     0.0       1.0       0.0     5.0   0.330
3     0.0       1.0       1.0    31.0   0.037
4     0.0       1.0       0.0    30.0   0.038

In [29]:
y = claimants.iloc[:,1]

In [30]:
y.head()

0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
Name: CLMSEX, dtype: float64

In [31]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 2)

In [32]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(938, 5)
(402, 5)
(938,)
(402,)

In [33]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()
reg.fit(x_train, y_train)

C:\Users\Tejaswini\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [35]:
pred = reg.pred(X_test)
pred

AttributeError: 'LogisticRegression' object has no attribute 'pred'